In [5]:
import pandas as pd

In [7]:
df = pd.read_csv('dailyActivity.csv')
df1 = pd.read_csv('HourlyActivity.csv')
df2 = pd.read_csv('MinutelyActivity.csv')

In [8]:
df

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1.503960e+09,12-04-2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.00,25,13,328,728,1985
1,1.503960e+09,13-04-2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.00,21,19,217,776,1797
2,1.503960e+09,14-04-2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.00,30,11,181,1218,1776
3,1.503960e+09,15-04-2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.00,29,34,209,726,1745
4,1.503960e+09,16-04-2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.00,36,10,221,773,1863
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,8.877689e+09,08-05-2016,10686,8.11,8.11,0.0,1.08,0.20,6.80,0.00,17,4,245,1174,2847
936,8.877689e+09,09-05-2016,20226,18.25,18.25,0.0,11.10,0.80,6.24,0.05,73,19,217,1131,3710
937,8.877689e+09,10-05-2016,10733,8.15,8.15,0.0,1.35,0.46,6.28,0.00,18,11,224,1187,2832
938,8.877689e+09,11-05-2016,21420,19.56,19.56,0.0,13.22,0.41,5.89,0.00,88,12,213,1127,3832
939,8.877689e+09,12-05-2016,8064,6.12,6.12,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [10]:
df1

,Id,Activity Hour,Calories,TotalIntensity,AverageIntensity,StepTotal
0,1503960366,12-04-2016 00:00:00,81,20,0.333,373
1,1503960366,12-04-2016 01:00:00,61,8,0.133,160
2,1503960366,12-04-2016 02:00:00,59,7,0.117,151
3,1503960366,12-04-2016 03:00:00,47,0,0.000,0
4,1503960366,12-04-2016 04:00:00,48,0,0.000,0
...,...,...,...,...,...,...
22094,8877689391,12-05-2016 10:00:00,126,12,0.200,514
22095,8877689391,12-05-2016 11:00:00,192,29,0.483,1407
22096,8877689391,12-05-2016 12:00:00,321,93,1.550,3135
22097,8877689391,12-05-2016 13:00:00,101,6,0.100,307
22098,8877689391,12-05-2016 14:00:00,113,9,0.150,457

In [11]:
df2

                 Id      ActivityMinutes  Calories  Intensity  METs  Steps
0        1503960366  12-04-2016 12:00:00     0.786          0    10      0
1        1503960366  12-04-2016 12:00:00     0.786          0    10      0
2        1503960366  12-04-2016 12:00:00     0.786          0    12      0
3        1503960366  12-04-2016 12:00:00     0.786          0    12      0
4        1503960366  12-04-2016 12:00:00     0.786          0    10      0
...             ...                  ...       ...        ...   ...    ...
3709690  7086361926  17-04-2016 19:10:00     1.132          0    10      0
3709691  7086361926  17-04-2016 19:11:00     1.132          0    10      0
3709692  7086361926  17-04-2016 19:12:00     1.132          0    10      0
3709693  7086361926  17-04-2016 19:13:00     1.132          0    10      0
3709694  7086361926  17-04-2016 19:14:00     1.132          0    10      0

[3709695 rows x 6 columns]

In [12]:
from ydata_profiling import ProfileReport
from ydata_profiling.utils.cache import cache_file
report = ProfileReport(df,title='DailyActivityReport',explorative=True)
report.to_file('DailyActivityReport.html')

C:\Users\Mikey\anaconda3\Lib\site-packages\numba\core\decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
C:\Users\Mikey\anaconda3\Lib\site-packages\visions\backends\shared\nan_handling.py:50: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  @nb.jit

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [13]:
from ydata_profiling import ProfileReport
from ydata_profiling.utils.cache import cache_file
report = ProfileReport(df1,title='HourlyActivityReport',explorative=True)
report.to_file('HourlyActivityReport.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
from ydata_profiling import ProfileReport
from ydata_profiling.utils.cache import cache_file
report = ProfileReport(df2,title='MinutelyActivityReport',explorative=True)
report.to_file('MinutelyActivityReport.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]